<%- include('../layout/header.ejs', { title : 'Login' }) %>

<section class="form-container">

   <form action="/login" method="post" class="login">
      <h3>welcome back!</h3>
      <p>your email <span>*</span></p>
      <input type="email" name="email" placeholder="enter your email" maxlength="50" required class="box">
      <p>your password <span>*</span></p>
      <input type="password" name="password" placeholder="enter your password" maxlength="20" required class="box">
      <p class="link">don't have an account? <a href="/register">register now</a></p>
      <input type="submit" value="login now" class="btn">
   </form>

</section>





<%- include('../layout/footer.ejs') %>





<?php include 'components/footer.php'; ?>

<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>

</html>