
<%- include('layout/header.ejs', { title : 'Login' }) %>

<!-- login section starts  -->

<section class="form-container">

   <form action="/admin/login" method="post" class="login">
      <h3>Welcome back!</h3>
      <p>your email <span>*</span></p>
      <input type="email" name="email" placeholder="enter your email" maxlength="20" required class="box">
      <p>your password <span>*</span></p>
      <input type="password" name="password" placeholder="enter your password" maxlength="20" required class="box">
      <p class="link">
         don't have an account? <a href="/admin/register">register new</a>
      </p>
      <input type="submit" value="Login"  class="btn">
   </form>

</section>

<!-- login section ends -->

<%- include('layout/footer.ejs') %>
