<% messages?.forEach(message => { %>
   <div class="message">
      <span><%= message %></span>
      <i class="fas fa-times" onclick="this.parentElement.remove();"></i>
   </div>
<% }) %>

<header class="header">

   <section class="flex">

      <a href="/home" class="logo">Educa.</a>

      <form action="/search_course" method="get" class="search-form">
         <input type="text" name="search" placeholder="search courses..." required maxlength="100">
         <button type="submit" class="fas fa-search"></button>
      </form>

      <div class="icons">
         <div id="menu-btn" class="fas fa-bars"></div>
         <div id="search-btn" class="fas fa-search"></div>
         <div id="user-btn" class="fas fa-user"></div>
         <div id="toggle-btn" class="fas fa-sun"></div>
      </div>

      <div class="profile">
         <% if (user) { %>
         <img src="/uploaded_files/<%= user.image %>" alt="">
            <h3><%= user.name %></h3>
            <span>student</span>
            <a href="/profile" class="btn">View profile</a>
            <div class="flex-btn">
               <!-- <a href="/login.php" class="option-btn">login</a>
               <a href="/register.php" class="option-btn">register</a> -->
            </div>
            <a href="/logout" onclick="return confirm('logout from this website?');" class="delete-btn">Logout</a>
         <% } else { %>
            <h3>Please login</h3>
            <div class="flex-btn">
              <a href="/login" class="option-btn">Login</a>
              <a href="/register" class="option-btn">Register</a>
           </div>
         <% } %>
      </div>

   </section>

</header>

<!-- header section ends -->

<!-- side bar section starts  -->

<div class="side-bar">

   <div class="close-side-bar">
      <i class="fas fa-times"></i>
   </div>

   <div class="profile">
         <% if (user) { %>
            <img src="/uploaded_files/<%= user['image']; %>" alt="">
            <h3><?= $fetch_profile['name']; ?></h3>
            <span>student</span>
            <a href="/profile" class="btn">view profile</a>
         <% } else { %>
            <h3>Please login</h3>
             <div class="flex-btn" style="padding-top: .5rem;">
               <a href="/login" class="option-btn">Login</a>
               <a href="/register" class="option-btn">Register</a>
            </div>
         <% } %>
      </div>

   <nav class="navbar">
      <a href="/home"><i class="fas fa-home"></i><span>Home</span></a>
      <a href="/about"><i class="fas fa-question"></i><span>About Us</span></a>
      <a href="/courses"><i class="fas fa-graduation-cap"></i><span>Courses</span></a>
      <a href="/teachers"><i class="fas fa-chalkboard-user"></i><span>Teachers</span></a>
      <a href="/contact"><i class="fas fa-headset"></i><span>Contact Us</span></a>
   </nav>

</div>

<!-- side bar section ends -->