<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <div>name: <%= error.name%></div>
    <div>message: <%= error.message%></div>
    <div>status: <%= error.status%></div>
</body>
</html>