<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= code  %></title>
</head>
<body>
    <div style="justify-content: center; margin: auto; padding: 20px;">
        <b>Error</b>: <%= message  %>
    </div>
</body>
</html>