<%- include('../layout/admin_header.ejs' , {title : 'Add video'}) %>

<section class="video-form">

   <h1 class="heading">Upload content</h1>

   <form action="/admin/videos/save" method="post" enctype="multipart/form-data">
      <p>video status <span>*</span></p>
      <select name="status" class="box" required>
         <option value="active" selected>active</option>
         <option value="deactive">deactive</option>
      </select>
      <p>video title <span>*</span></p>
      <input type="text" name="title" maxlength="100" required placeholder="enter video title" class="box">
      <p>video description <span>*</span></p>
      <textarea name="description" class="box" required placeholder="write description" maxlength="1000" cols="30" rows="10"></textarea>
      <p>video playlist <span>*</span></p>
      <select name="playlist_id" class="box" required>
         <option value="" disabled selected>--select playlist</option>
         <% playlists.forEach(playlist => { %>
            <option value="<%= playlist.id  %>">
            <%= playlist.title  %>
            </option>
         <% }) %>
      </select>
      <p>select thumbnail <span>*</span></p>
      <input type="file" name="thumb" accept="image/*" required class="box">
      <p>select video <span>*</span></p>
      <input type="file" name="video" accept="video/*" required class="box">
      <input type="submit" value="upload video" name="submit" class="btn">
   </form>

</section>

<%- include('../layout/admin_footer.ejs') %>