    <footer class="footer">
        &copy; copyright @ <%= app_date.getFullYear() %> by <span>mr. web designer</span> | all rights reserved!
    </footer>
<script src="/js/admin_script.js"></script>
</body>
</html>