    <script>
        var darkMode = localStorage.getItem('dark-mode');
        var body = document.body;
        
        var enabelDarkMode = () =>{
        body.classList.add('dark');
        localStorage.setItem('dark-mode', 'enabled');
        }
        
        var disableDarkMode = () =>{
        body.classList.remove('dark');
        localStorage.setItem('dark-mode', 'disabled');
        }
        
        if(darkMode === 'enabled'){
        enabelDarkMode();
        }else{
        disableDarkMode();
        }
        
    </script>       
</body>
</html>